body{
  background-image: url('https://cdn-enterprise.discourse.org/mcneel/uploads/default/original/3X/4/6/46322470990036e034ce75f889ec3bc623af5eb1.jpg');
  min-height: 500px;
  /* Set background image to fixed (don't scroll along with the page) */
                                    background-attachment: fixed;
                                    background-position: right top;
                                    /* Set the background image to no repeat */
                                    background-repeat: no-repeat;
                                    /* Scale the background image to be as large as possible */
                                    background-size: cover;
}

body{ /* Normal  */
   font-size: 16px;
}

