body{
  background-image: url('https://png2.kisspng.com/sh/bb40523a5f4d2624ee41a8f672ce765c/L0KzQYm3U8I3N6JxiZH0aYP2gLBuTgNmaV5pfeV0dHBzPcjojPxxaaFqip9xaXfrPbXshvlvcaVuh9C2dnnndbE0jBNmaZ8yiAZqcj3yc7bojr02aZMATaIAYUm4dYW6Vr44PGk7Tqk9NkG4QoO3WcQyP2E7SaY3cH7q/kisspng-sea-desktop-wallpaper-high-definition-video-ocean-star-ocean-5ab9505a95e436.748667461522094170614.png');
  min-height: 500px;
  /* Set background image to fixed (don't scroll along with the page) */
                                    background-attachment: fixed;
                                    background-position: right top;
                                    /* Set the background image to no repeat */
                                    background-repeat: no-repeat;
                                    /* Scale the background image to be as large as possible */
                                    background-size: cover;
}

body{ /* Normal  */
   font-size: 16px;
}